extends layout

block contentTodos
  h1 #{title}

  #myDIV.header-todos
    input#todoTitle(style='margin:5px' name='header' placeholder='Your title')
    br
    input#myInput(type='text', placeholder='Your list item...')
    span.addBtn Add
  ul#myUL
    li.listItem Your list item
    li.checked.listItem Your solved list item
  br 
  input.btn.btn-primary(type='button', value='Submit' id='addNewTodo')


