extends layout

block contentTodos
  h1 #{title}
  form(method='POST', action='/todos/add')
      label Title:
      input.form-control(id='title', type='text')
      .card(style='width: 500px;', contenteditable='true')
        .card-block
            ul.list-group.list-group-flush Your list
              li.list-group-item(name='body') Your list item
              li.list-group-item(name='body') Your list item

      input.btn.btn-primary(type='submit', value='Submit')

