extends layout

block contentTodos
  h1 #{title}

  #myDIV.header-todos
    input#todoTitle(style='margin:5px' name='header' placeholder='My To Do List')
    br
    input#myInput(type='text', placeholder='Title...')
    span.addBtn Add
  ul#myUL
    li.listItem Hit the gym
    li.checked.listItem Pay bills
    li.listItem Meet George
    li.listItem Buy eggs
    li.listItem Read a book
    li.listItem Organize office
  br 
  input.btn.btn-primary(type='button', value='Submit')


