extends layout

block contentTodos
  h1 #{title}
  form(method='POST', action='/todos/edit/'+todo._id)
    .form-group
      label Title:
      input.form-control(name='title', type='text', value=todo.title)
    .form-group
      label Body:
      textarea.form-control(name='body')= todo.body
    br
    input.btn.btn-primary(type='submit', value='Submit')
