doctype html
html
  head
    title CRUD app for step-prjct
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/todos.css')
  body
    nav.navbar.navbar-expand-md
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#collapsibleNavbar')
        span.navbar-toggler-icon
      i.fas.fa-bars.mobile-toggler
      .collapse.navbar-collapse#collapsibleNavbar
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='/') Home
          li.nav-item
            a.nav-link(href='/notes/add') Add Note
          li.nav-item
            a.nav-link(href='/todos/add') Add Todo list
    .container
      != messages('message', locals)
      if errors
        each error, i in errors
          div(class='alert alert-danger') #{error.msg}
      block contentNotes
      block contentTodos
      br
      hr
      footer
        p Copyright &copy; 2019 Bashuk Meleshchenko Pedchenko
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src='/js/main.js')